<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SmokeSuite1" verbose="1" >
  <test name="ActiTimeSmoke"   >
 <groups>
    <run>
      <include name="smoke"/>
    </run>
  </groups>
    <packages>
      <package name="com.selenium.tests" />
   </packages>
   
 </test>
</suite>
